{% extends 'new/base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% block content %}
<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset</h3>
                    </div>
                    <div class="panel-body">
                        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                        <p>You should be receiving it shortly.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}