{% extends 'new/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h2 class="page-title text-center">Password reset</h2>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                        {% csrf_token %}
                            <fieldset>
                                {% include 'new/form_inputs.html' %}

                                <br>
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset password" style="font-size: 1.4rem;" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}