{% extend 'new/base.html' %}

{% block content %}
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="page-title">Password Reset</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                        {% csrf_token %}
                            <fieldset>
                                <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                                {{ form.email.errors }}
                                <div class="form-group">
                                    <label for="id_email">E-mail address:</label> {{ form.email }}
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Reset password"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}