<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShoutOur.Biz - Register</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static 'dashboard_static/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%static 'dashboard_static/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static 'dashboard_static/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{%static 'dashboard_static/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registration Form</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="{% url 'main:register_seller' %}">
                        {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                  {% if em %}
                                    Email:<input id='email' class="form-control" type="email" name="email" value={{em}} required autofocus/>
                                  {% else %}
                                    Email:<input id='email' class="form-control" type="email" name="email" required/>
                                  {% endif %}
                                </div>
                                <div class="form-group">
                                    Password: <input id='p1' class="form-control" type="password" name="password" required>
                                </div>
                                <div class="form-group">
                                    Retype Password: <input id='p2' class="form-control" type="password" name="re_password" required>
                                </div>
                                <div class="form-group">
                                    First Name:<input id='first_name' class="form-control" type="text" name="fn" required/>
                                </div>
                                <div class="form-group">
                                    Last Name:<input id='last_name' class="form-control" type="text" name="ln" required/>
                                </div>
                                <div class="form-group">
                                    Paypal Email:<input id='paypal_email' class="form-control" type="text" name="pe" required/>
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input id='tos' type="checkbox" name="tos" value="checked"> By selecting this box, you acknowledge that ShoutOur.Biz is a shout out brokerage. Your username will be shared with potential clients who are inquiring about our services.  Your pricing information will be kept within our team members and not published publicly. The price you provide is the best price you can offer. You are truthfully able to provide shoutouts for your set price.
                                    </label>
                                </div>
                                <div class="alert-danger">
                                    <p id="error-msg">{{msg}}</p>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Register"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{%static 'dashboard_static/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'dashboard_static/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static 'dashboard_static/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'dashboard_static/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>