{% extends 'new/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <p><strong>Account Name: </strong>{{ username }}</p>
        <p><strong>Network: </strong>{{ network_full }}</p>
        <form role="form" method="post" action="{% url 'main:edit_account' network model_id %}">
            {% csrf_token %}
            <fieldset>
                {% include 'new/form_inputs.html' %}
                                <!-- Change this to a button or input when using this as a form -->
                <input class="btn btn-default" type="submit" value="Save"/>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}