<!DOCTYPE html>
<html>
<head>
<title>PDF GENERATION(IG)</title>
</head>
<body>
  Catalogue generation for Instagram
  <form id="login_form" method="get" action="/members/gen_pdf_ig/">
    Enter Hashtag Here: <input type="text" name="tag" required/> <br>
    Enter Email(s) Here (Optional): <input type="text" name="email"/> <br>
    Note: If you want to have multiple email recipients, seperate each email with a semicolon, eg. ex1@mail.com;ex2@mail.com <br>
    Enter Budget Here: $<input type="text" name="budget"/> (this function has not been implemented yet)<br>
    <input type="submit" value="Generate PDF"/>
  </form>  

</body>
</html>